/**
 * Login.css
 *
 * @format
 */

.login-container {
  max-width: 960px;
  margin: 2 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -2%;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 4rem;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 2rem;
  position: relative;
  display: flex;
}

.form-input {
  width: 100%;

  padding: 0.7rem 0.8rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-label {
  position: absolute;
  top: -0.6rem;
  left: 0.8rem;
  padding: 0 0.4rem;
  background-color: #fff;
  font-size: 0.9rem;
  color: #888;
}

.button-group {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.signup-link {
  text-align: center;
  margin-top: 1.5rem;
}

.signup-link .signup-button {
  color: #184cf5;
  font-size: 1rem;
  font-weight: 100;
  border: none;
}

.signup-link .signup-button:hover {
  text-decoration: underline;
}
