/**
 * Quiz Styles
 *
 * @format
 */
/* 

/* Container */
.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  width: 65%;
  margin-top: 50px;
  padding: 50px;
  background-color: #eeebeb;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Quiz Header */
.quiz-header {
  text-align: center;
  margin-bottom: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.quiz-header h1 {
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.quiz-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Loading Message */
.container p {
  text-align: center;
  font-size: 20px;
  color: #666;
}

/* Question Container */
.question-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.question-text {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

/* Answer Options */
.answer-option {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.answer-option:hover {
  background-color: #e9e9e9;
}

.answer-option input[type="radio"] {
  margin-right: 20px;
}

.answer-option label {
  font-size: 18px;
  color: #333;
}

/* Next Button */
.next-button {
  display: block;
  margin: 30px auto 0;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.next-button:hover {
  background-color: #0056b3;
}
